body{
font-family: 'Segoe UI';
margin:0;
background:linear-gradient(135deg,#667eea,#764ba2);
color:white;
text-align:center;
}

.main{
margin-top:100px;
}

.cards{
display:flex;
justify-content:center;
gap:30px;
margin-top:50px;
}

.card{
width:220px;
padding:30px;
border-radius:15px;
color:white;
text-decoration:none;
box-shadow:0 8px 20px rgba(0,0,0,0.2);
transition:0.3s;
cursor:pointer;
}

.card:hover{
transform:scale(1.05);
}

.passenger{
background:#ff7a18;
}

.driver{
background:#00c6ff;
}

.admin{
background:#43e97b;
}

.box{
background:white;
color:black;
width:350px;
margin:auto;
margin-top:100px;
padding:30px;
border-radius:15px;
box-shadow:0 10px 30px rgba(0,0,0,0.2);
}

input,select{
width:80%;
padding:10px;
margin:10px;
border-radius:8px;
border:1px solid #ccc;
}

button{
padding:10px 20px;
background:#667eea;
color:white;
border:none;
border-radius:8px;
cursor:pointer;
}

button:hover{
background:#5a67d8;
}